<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{HELPTITLE}</title>
  <link rel="stylesheet" href="/cups-printable.css">
  <link rel="icon" href="/images/cups-icon.png" type="image/png">
</head>
<body>
