<div class="alert alert-success">
  <div>{job_id?<a href="/jobs/{job_id}">Job {job_id}</a>:All jobs} moved to <a href="/{is_class?classes:printers}/{job_printer_name}">{job_printer_name}</a>.</div>
</div>
