<div class="alert alert-success">
  <div>
    {is_class?Class:Printer} <a href="/{is_class?classes:printers}/{printer_name}">{printer_name}</a> has been made the default on the server.
    <p class="mt-1 text-xs opacity-80">Note: any user default set via <code>lpoptions</code> overrides this.</p>
  </div>
</div>
